/* Light theme */
.App-light {
  --primary-color: #ffffff;
  --secondary-color: #f0f0f0;
  --text-color: #333333;
}

/* Dark theme */
.App-dark {
  --primary-color: #333333;
  --secondary-color: #444444;
  --text-color: #ffffff;
}

/* Common styles */
body {
  background-image: url("https://images.pexels.com/photos/281260/pexels-photo-281260.jpeg?cs=srgb&dl=pexels-francesco-ungaro-281260.jpg&fm=jpg");
  background-size: cover; /* Cover the entire background area */
  background-position: calc(0px); /* Center the background image */
  background-attachment: scroll;
  background-repeat: no-repeat;
  margin: 6%;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px; /* Increase font size to 16 pixels */
}

header {
  background-color: rgba(240, 240, 240, 0.5);
  padding: 20px;
}

main {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
}

.dashboard,
.expense-form,
.suggestions,
.gamification,
.collaborative-budgeting {
  background-color: rgba(240, 240, 240, 0.5);
  padding: 30px;
  border-radius: 5px;
}

.dashboard {
  flex: 3;
  margin-right: 30px;
  text-align: center;
}

.expense-form {
  flex: 2;
  text-align: center;
}

.dashboard > div {
  margin-bottom: 30px;
}

button {
  background-color: rgba(0, 123, 255, 0.8);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Increase button font size to 16 pixels */
}

button:hover {
  background-color: rgba(0, 86, 179, 0.8);
}

select {
  padding: 8px;
  font-size: 16px; /* Increase select font size to 16 pixels */
}

ul {
  list-style: none;
  padding: 0;
  font-size: 16px; /* Increase list font size to 16 pixels */
}

li {
  margin-bottom: 10px;
}
/* Additional styles for light theme */
.App-light {
  /* Add light theme specific styles here */
}

/* Additional styles for dark theme */
.App-dark {
  /* Add dark theme specific styles here */
}
